.container{
    width: 98%;
    display: flex;
    flex-wrap:wrap ;
    justify-content: center;
    align-items: center;
  }
  
  
  .container-image{
    height: max-content;
    width: max-content;
    position: relative;
  }

  .img{
    margin: 5px;
   
  }
  
   .container-image button{
    position: absolute;
    top: 70%;
    left: 30%;
    background-color: #fff;
    color: var(--theme-color);
    border-radius: 0.2rem;  
  } 

  .img-container{
    width: 100%;
    position: relative;
  }
  
  .btn{
    background-color: #fff;
    color: var(--default-font-color);
    border: none;
  }
  
  .btn-text{
    color: #fff;
    mix-blend-mode: difference;
    font-weight: 600;
  }
  
   .container button::before{
    transition: all 0.3s;
    content: '';
    width: 0%;
    height: 100%;
    border-radius: 0.2rem;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  } 
  
  
  .container button:hover::before {
    width: 100%;
    background-color: #000;
  }

  .container-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 17rem;
    width: 15rem;
    box-shadow: none;
    line-height: 1.8rem;
   }
   
    .container-card img {
     border-bottom: none;
     height: 70%;
     width: 70%;
     object-fit:contain;
   } 

  .container-btn-left, .container-btn-right{
    position: absolute;
    z-index: 1;
    top: 40%;
    background-color: #fff;
    border-radius: var(--button-radius);
  } 


  .container-btn-left{
    left: 0;
   
  }
  .container-btn-right{
    right: 0;
  }
  
  .container-deal{
    display: flex;
    flex-direction: column;
    height: max-content;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: rgba(17, 17, 26, 0.156) 0px 1px 0px, rgba(17, 17, 26, 0.292) 0px 0px 8px;    
    position: relative;
    text-align: center;
    margin: 5px;
  }

  .container-header{
    font-size: 1.2rem;
    padding: 0.5rem;
  }

  .product-content{
    position: relative;
    display: flex;
    transition: all 0.5s;
  }
 
